# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
*.sqlite3
*.db

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs and temp
*.log
*.tmp
*.bak

# IDEs
.vscode/
.idea/
*.swp

# Docker
*.pid
*.sock
*.tar
*.gz
*.img
*.container
*.log
*.lock
*.db
*.db-journal

# Bytecode and compiled
*.so
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Virtualenv
venv/
ENV/
env/
